@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2F2F2;
    color: #393939;
}

div {
	/* border: 1px solid blue; */
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px repeat(9, 1fr);
    width: 99vw;
    height: 95vh;
}

.highlight {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.teal {
    /* padding-left: 2px;
    padding-right: 2px; */
    color: white;
    background-color: #3C6E71;
    /* display: inline-block; */
}

.grey {
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    background-color: #989998;
}

.hoverText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    width: 180px;
    color: black;
    font-style: italic;
}

.hidden {
    pointer-events: none;
    visibility: hidden;
}
.active {
    opacity: 1;
}

.nav {
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
    font-family: 'Antonio', sans-serif;
    font-weight: 100;
    color: #070C0D;
    z-index: 100;
}
/* navigation bar */

.introduction {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.beccs {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.emissions {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}

.land {
    grid-column: 7 / span 2;
    grid-row: 1 / span 1;
}

.other {
    grid-column: 9 / span 2;
    grid-row: 1 / span 1;
}

.conclusion {
    grid-column: 11 / span 2;
    grid-row: 1 / span 1;
}

/* text, image and annotations */

.title, .subtitle {
    font-size: 95px;
    grid-column: 3 / span 10;
    grid-row: 3 / span 4;
    z-index: 100;
    margin: 0 auto;
    font-family: 'Antonio', sans-serif;
    color: #3C6E71;
    background: #3C6E71;
    background: -webkit-linear-gradient(to right, #3C6E71 0%, #B3BEBA 50%, #F2F2F2 100%);
    background: -moz-linear-gradient(to right, #3C6E71 0%, #B3BEBA 50%, #F2F2F2 100%);
    background: linear-gradient(to right, #3C6E71 0%, #B3BEBA 75%, #F2F2F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 70px;
}

.text {
    margin: 0 auto;
    border: 1px solid #989998;
    padding: 10px;
    font-style: italic;
    grid-column: 6 / span 2;
    grid-row: 3 / span 1;
    background-color: white;
    z-index: 100;
}

summary {
    font-style: normal;
    font-weight: 700;
    color: #3C6E71;
    margin: 5px;
}

#text4, #text5, #text22, #text23, #text8 {
    grid-column: 11 / span 2;
}

#text6 {
    grid-column: 9 / span 2;
    z-index: 100;
}

#text24 {
    grid-column: 8 / span 3;
    z-index: 100;
}

.square.active {
    /* dynanimcally calculate based on viewport i.e. sqrt(height * width*.16) */
    height: 297px;
    width: 297px;
    grid-column: 2 / span 4;
    grid-row: 3 / span 4;
    background-color: #070C0D;
    color: #F2F2F2;
    font-size: 30px;
    padding-left: 7px;
    padding-top: 7px;
    z-index: 1000;
    opacity: 0;
    animation: mid-fade 1s forwards ease-in;
    animation-delay: 5s;
}

.image.active {
    grid-column: 1 / span 12;
    grid-row: 1;
}

#image21 > img {
    filter: grayscale(100%);
}

.annotation {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    grid-column: 6 / span 2;
    grid-row: 5 / span 4;
}

#annotation8 {
    grid-column: 4 / span 2;
    grid-row: 7 / span 3;
}

#annotation9 {
    grid-column: 7 / span 2;
    grid-row: 4 / span 3;
}

#annotation10 {
    grid-column: 10 / span 2;
    grid-row: 3 / span 3;
}

#annotation16 {
    grid-column: 6 / span 3;
}

/* charts and diagrams */

.graph-center {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

.diagram {
    grid-column: 1 / span 12;
    grid-row: 2 / span 9;
    margin: 0 auto;
    animation: fade-in 1s forwards ease-in;
    opacity: 0;
    transform: scale(1.25)
}

#Layer_2 {
    animation: fade-in 1s forwards ease-in;
    animation-delay: 2s;
    opacity: 0;
}

#Layer_3 {
    animation: fade-in 1s forwards ease-in;
    animation-delay: 4s;
    opacity: 0;
}

#Layer_4 {
    animation: fade-out 1s forwards ease-in;
    animation-delay: .5s;
    opacity: 1;
}

#Layer_5 {
    animation: fade-in 1s forwards ease-in;
    animation-delay: 0s;
    opacity: 0;
}

/* .title, .subtitle {
    animation: fade-out 6s forwards ease-in;
    animation-delay: 0s;
    opacity: 1;
} */

@keyframes fade-in {

    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
  }

@keyframes fade-out {

    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  
  }

@keyframes mid-fade {
   
    0% {
        opacity: 0;
      }
    
    100% {
        opacity: 0.85;
      }

  }

.land-visual {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

svg {
    height: 550px;
    width: 880px;
}

/* chart path colors */
.page13 > .path0, .page14 > .path0, .page15 > .path0, .page16 > .path0 {
    stroke: #070C0D;
}

.page13 > .path1, .path2, .path3, .page14 > .path1, .path2 {
    stroke: #F2F2F2;
}

.page13 > .path4, .page14 > .path4, .page15 > .path4, .page16 > .path4, .baseline {
    stroke: #0468BF;
    color: #0468BF;
}

.page14 > .path3, .page15 > .path3, .page16 > .path3, .policies {
    stroke: #F2B705;
    color: #F2B705;
}

.page16 > .path3, .page16 > .path0, .page16 > .path4 {
    stroke-opacity: .1;
}

.page15 > .path1, .page16 > .path1, .high {
    stroke: #049DBF;
    color: #049DBF;
}

.page15 > .path2, .page16 > .path2, .low {
    stroke: #93A603;
    color: #93A603;
}

#page13-label4, #page14-label4, #page15-label4 {
    fill: #0468BF;
}

#page13-label3, #page13-label2, #page13-label1, #page14-label2, #page14-label1, #page16-label4, #page16-label3, #page16-label0 {
    fill: #F2F2F2;
}

#page13-label0, #page12-label0, #page14-label0, #page15-label0 {
    fill: #070C0D;
}

#page14-label3, #page15-label3 {
    fill: #F2B705;
}

#page15-label2, #page16-label2 {
    fill: #93A603;
}

#page15-label1, #page16-label1 {
    fill: #049DBF;
}

#y-axis, #x-axis, .label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #070C0D;
    font-size: 14px;
}

/* arrows and buttons */

#arrow-right {
    grid-column: 12;
    grid-row: 10;
    z-index: 100;
}

#arrow-left {
    grid-column: 1 / span 1;
    grid-row: 10;
    text-align: right;
    z-index: 100;
}

.button {
    grid-row: 5;
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

#left-button {
    grid-column: 5;
}

#right-button {
    grid-column: 8;
}
