@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2F2F2;
    color: #393939;
}

div {
	/* border: 1px solid blue; */
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px repeat(9, 1fr);
    width: 99vw;
    height: 95vh;
}

.highlight {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.teal {
    /* padding-left: 2px;
    padding-right: 2px; */
    color: white;
    background-color: #3C6E71;
}

.grey {
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    background-color: #989998;
}

.hoverText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    width: 200px;
    color: black;
    font-style: italic;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.active {
    opacity: 1;
}

.nav {
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
    font-family: 'Antonio', sans-serif;
    font-weight: 100;
    color: #070C0D;
}
/* nav bar */

.introduction {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.beccs {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.emissions {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}

.land {
    grid-column: 7 / span 2;
    grid-row: 1 / span 1;
}

.other {
    grid-column: 9 / span 2;
    grid-row: 1 / span 1;
}

.conclusion {
    grid-column: 11 / span 2;
    grid-row: 1 / span 1;
}

/* text and annotations */

.title {
    font-size: 75px;
    grid-column: 1 / span 12;
    grid-row: 4 / span 4;
    margin: 0 auto;
    border-width: 0px;
    font-family: 'Antonio', sans-serif;
    background: #3C6E71;
    background: -webkit-linear-gradient(to right, #3C6E71 0%, #B3BEBA 50%, #F2F2F2 100%);
    background: -moz-linear-gradient(to right, #3C6E71 0%, #B3BEBA 50%, #F2F2F2 100%);
    background: linear-gradient(to right, #3C6E71 0%, #B3BEBA 75%, #F2F2F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 50px;
    color: #070C0D;
}

.text {
    grid-column: 5 / span 4;
    grid-row: 5 / span 3;
    border: 1px solid grey;
    padding: 10px;
    vertical-align: middle;
}
.img {
    width: 100%;
    height: auto;
    grid-column: 8 / span 3;
    grid-row: 7 / span 2;
}

.annotation {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    grid-column: 6 / span 2;
    grid-row: 5 / span 4;
}

#annotation9 {
    grid-column: 4 / span 2;
    grid-row: 7 / span 3;
}

#annotation10 {
    grid-column: 7 / span 2;
    grid-row: 4 / span 3;
}

#annotation11 {
    grid-column: 9 / span 2;
    grid-row: 3 / span 3;
}

#annotation12 {
    grid-column: 6 / span 2;
    grid-row: 4 / span 3;
}

#annotation17 {
    grid-column: 6 / span 3;
    grid-row: 5 / span 4;
}

/* charts */

.graph-center {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

.diagram {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
    animation: fade-in 1s forwards ease-in;
}

#Layer_1 {
    animation-delay: 1s;
}


@keyframes fade-in {

    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  
  }

.land-visual {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

svg {
    height: 550px;
    width: 880px;
}

/* chart path colors */
.page14 > .path0, .page15 > .path0, .page16 > .path0, .page17 > .path0 {
    stroke: #070C0D;
}

.page14 > .path1, .path2, .path3, .page15 > .path1, .path2 {
    stroke: #F2F2F2;
}

.page14 > .path4, .page15 > .path4, .page16 > .path4, .page17 > .path4, .baseline {
    stroke: #0468BF;
    color: #0468BF;
}

.page15 > .path3, .page16 > .path3, .page17 > .path3, .policies {
    stroke: #F2B705;
    color: #F2B705;
}

.page17 > .path3, .page17 > .path0, .page17 > .path4 {
    stroke-opacity: .1;
}

.page16 > .path1, .page17 > .path1, .high {
    stroke: #049DBF;
    color: #049DBF;
}

.page16 > .path2, .page17 > .path2, .low {
    stroke: #93A603;
    color: #93A603;
}


#y-axis, #x-axis, .label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #070C0D;
    font-size: 14px;
}

/* arrows */

#arrow-right {
    grid-column: 12;
    grid-row: 10;
}

#arrow-left {
    grid-column: 1 / span 1;
    grid-row: 10;
    text-align: right;
}

