@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F2F2F2;
    color: #393939;
}

div {
	/* border: 1px solid blue; */
}

#container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px repeat(9, 1fr);
    width: 99vw;
    height: 95vh;
}

.highlight {
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}

.nav {
    text-align: center;
    padding-top: 20px;
    font-size: 17px;
    font-family: 'Antonio', sans-serif;
    font-weight: 100;
    color: #070C0D;
}
/* nav bar */

.introduction {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.beccs {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

.emissions {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}

.land {
    grid-column: 7 / span 2;
    grid-row: 1 / span 1;
}

.other {
    grid-column: 9 / span 2;
    grid-row: 1 / span 1;
}

.conclusion {
    grid-column: 11 / span 2;
    grid-row: 1 / span 1;
}

/* text and annotations */

.text {
    grid-column: 5 / span 4;
    grid-row: 5 / span 3;
    border: 1px solid grey;
    padding: 10px;
    vertical-align: middle;
}

.annotation {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    grid-column: 6 / span 3;
    grid-row: 5 / span 4;
}

/* .general{
    grid-column: 6 / span 2;
    grid-row: 5 / span 3;
}

.page5 {
    grid-column: 6 / span 2;
    grid-row: 7 / span 3;
}

.page6 {
    grid-column: 7 / span 2;
    grid-row: 4 / span 3;
}

.page7 {
    grid-column: 9 / span 2;
    grid-row: 3 / span 3;
}

.page8 {
    grid-column: 6 / span 3;
    grid-row: 5 / span 3;
} */

.tooltip {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    width: 200px;
    color: black;
    font-style: italic;
}

/* charts */

.graph-center {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

.diagram {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

.land-visual-1 {
    grid-column: 2 / span 10;
    grid-row: 2 / span 9;
    margin: 0 auto;
}

svg {
    height: 550px;
    width: 880px;
}

#y-axis, #x-axis, .label {
    font-family: 'Source Sans Pro', sans-serif;
    color: #070C0D;
    font-size: 14px;
}

/* arrows */

.arrow-right {
    grid-column: 12;
    grid-row: 10;
}

.arrow-left {
    grid-column: 1 / span 1;
    grid-row: 10;
    text-align: right;
}

#geoengineering {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: #3C6E71;
    /* white-space: nowrap; */
}

